.menu-widget {
    margin-bottom: 72px;
}

.menu-widget-header {
    margin: 2px;
    font-family: Futura, Helvetica, Arial;
    text-align: center;
    color: #746d65;
    /*background-color: #cabfb3;*/
    height: 45px;
    line-height: 45px;
    font-size: 28px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.menu-item {
    margin: 2px;
    overflow: hidden;
    font-family: Helvetica, Arial;
    height: 40px;
    line-height: 40px;
    /*border-collapse: separate;*/
    border-spacing: 5px;
    border-radius: 5px;
    font-size: 28px;
    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

}

.restart-cell {
    color: #EE8564;
    background-color: #FFFF8A;
    height: 120px;
    line-height: 120px;
    font-size: 48px;
    border-width: 5px;
}

.invert-cell {
    color: #EE8564;
    background-color: #FFFF8A;
    height: 120px;
    line-height: 120px;
    font-size: 48px;
    border-width: 5px;
}

.setcell-cell {
    color: #EE8564;
    background-color: #FFFF8A;
    height: 120px;
    line-height: 120px;
    font-size: 48px;
    border-width: 5px;
}

.cell-selected {
    border-color: #ff0000;
    border-style: solid;
}